.landing-card-a {
  background-color: #fcf9ea;
}

.landing-card-b {
  background-color: #badfdb;
}

.landing-card-c {
  background-color: #49beb7;
}

.landing-card-d {
  background-color: #ff8a5c;
}

fay-pb {
  margin: 1rem;
}
